In [1]:
import pandas as pd
import tqdm

In [2]:
url = '../src/'
df = pd.read_parquet(url+'dataset.parquet')

In [3]:
df.head()

,date,time,user_id,event_type,product_id,category_id,first_level,second_level,third_level,brand,price,user_session
0,2019-10-01,00:00:00,554748717,view,3900821,2053013552326770905,appliances,environment,water_heater,aqua,33.20,57-6336556b0fc
1,2019-10-01,00:00:05,512742880,view,1480613,2053013561092866779,computers,desktop,desktop,pulser,908.62,a5-86594dec0db
2,2019-10-01,00:00:08,550978835,view,31500053,2053013558031024687,empty,empty,empty,luminarc,41.16,a7-abc6048498d
3,2019-10-01,00:00:11,555158050,view,2900536,2053013554776244595,appliances,kitchen,microwave,elenberg,51.46,9e-9ce44bb50ab
4,2019-10-01,00:00:22,512742880,view,1480714,2053013561092866779,computers,desktop,desktop,pulser,921.49,a5-86594dec0db

In [4]:
# 아이템 설명 테이블
item_lookup = df[['product_id','category_id','first_level','second_level','third_level','brand','price']]

In [7]:
item_lookup

,product_id,category_id,first_level,second_level,third_level,brand,price
0,3900821,2053013552326770905,appliances,environment,water_heater,aqua,33.20
1,1480613,2053013561092866779,computers,desktop,desktop,pulser,908.62
2,31500053,2053013558031024687,empty,empty,empty,luminarc,41.16
3,2900536,2053013554776244595,appliances,kitchen,microwave,elenberg,51.46
4,1480714,2053013561092866779,computers,desktop,desktop,pulser,921.49
...,...,...,...,...,...,...,...
14052485,1004708,2053013555631882655,electronics,smartphone,smartphone,huawei,151.99
14052486,1480709,2053013561092866779,computers,desktop,desktop,pulser,592.01
14052487,5800263,2053013553945772349,electronics,audio,subwoofer,alphard,92.67
14052488,1005008,2053013555631882655,electronics,smartphone,smartphone,xiaomi,94.46
14052489,5100816,2053013553375346967,empty,empty,empty,xiaomi,29.58