In [1]:
import pandas as pd
data_url = '../dataset/' #csv파일이 있는 경로 수정
dataset = pd.read_csv(data_url + '2019-Oct.csv')

# 데이터 살펴보기

In [2]:
dataset.head()

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2019-10-01 00:00:00 UTC,view,44600062,2103807459595387724,NaN,shiseido,35.79,541312140,72d76fde-8bb3-4e00-8c23-a032dfed738c
1,2019-10-01 00:00:00 UTC,view,3900821,2053013552326770905,appliances.environment.water_heater,aqua,33.20,554748717,9333dfbd-b87a-4708-9857-6336556b0fcc
2,2019-10-01 00:00:01 UTC,view,17200506,2053013559792632471,furniture.living_room.sofa,NaN,543.10,519107250,566511c2-e2e3-422b-b695-cf8e6e792ca8
3,2019-10-01 00:00:01 UTC,view,1307067,2053013558920217191,computers.notebook,lenovo,251.74,550050854,7c90fc70-0e80-4590-96f3-13c02c18c713
4,2019-10-01 00:00:04 UTC,view,1004237,2053013555631882655,electronics.smartphone,apple,1081.98,535871217,c6bd7419-2748-4c56-95b4-8cec9ff8b80d

In [3]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42448764 entries, 0 to 42448763
Data columns (total 9 columns):
 #   Column         Dtype
---  ------         -----
 0   event_time     object
 1   event_type     object
 2   product_id     int64
 3   category_id    int64
 4   category_code  object
 5   brand          object
 6   price          float64
 7   user_id        int64
 8   user_session   object
dtypes: float64(1), int64(3), object(5)
memory usage: 2.8+ GB

In [4]:
dataset.isnull().sum()

event_time              0
event_type              0
product_id              0
category_id             0
category_code    13515609
brand             6117080
price                   0
user_id                 0
user_session            2
dtype: int64

### null값
* category_code
* brand
* user_session
---

# 결측치

### session의 결측치 처리

In [44]:
cpy = dataset['user_session'].copy()

In [6]:
cpy[cpy.isnull()]

7157243     NaN
33940774    NaN
Name: user_session, dtype: object

결측치가 있는 행 인덱스
* 7157243
* 33940774

In [7]:
# dataset.iloc[33940774]

event_time       2019-10-25 10:36:14 UTC
event_type                          cart
product_id                       1004767
category_id          2053013555631882655
category_code     electronics.smartphone
brand                            samsung
price                             246.52
user_id                        549825742
user_session                         NaN
Name: 33940774, dtype: object

In [8]:
# dataset.iloc[[7157243,33940774]]

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
7157243,2019-10-06 14:26:10 UTC,cart,1801723,2053013554415534427,electronics.video.tv,tcl,135.65,557388939,NaN
33940774,2019-10-25 10:36:14 UTC,cart,1004767,2053013555631882655,electronics.smartphone,samsung,246.52,549825742,NaN

* 동일 id로 검색

In [9]:
# dataset[dataset['user_id'] == 557388939]

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
7149567,2019-10-06 14:20:18 UTC,view,50700029,2175419595093967522,NaN,yema,48.65,557388939,69e2aec8-4022-45cc-9fb0-48300f6b018e
7151921,2019-10-06 14:22:05 UTC,view,1801766,2053013554415534427,electronics.video.tv,artel,150.43,557388939,e24814e3-6587-4f74-8f92-6ac44b9b94ba
7153724,2019-10-06 14:23:25 UTC,cart,1801766,2053013554415534427,electronics.video.tv,artel,150.43,557388939,e24814e3-6587-4f74-8f92-6ac44b9b94ba
7154261,2019-10-06 14:23:50 UTC,view,1801766,2053013554415534427,electronics.video.tv,artel,150.43,557388939,27eb4e3f-4951-41f5-9ca1-2c8ea537215b
7156089,2019-10-06 14:25:18 UTC,view,1801723,2053013554415534427,electronics.video.tv,tcl,135.65,557388939,9c11ac2d-5c56-4994-87e4-ea077ab0ab45
7157243,2019-10-06 14:26:10 UTC,cart,1801723,2053013554415534427,electronics.video.tv,tcl,135.65,557388939,NaN
8123931,2019-10-07 10:15:39 UTC,view,1801723,2053013554415534427,electronics.video.tv,tcl,135.65,557388939,083ceaa9-32d0-4e45-a67c-40bfaba0a275

In [10]:
# dataset[dataset['user_id'] == 549825742]

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
33820866,2019-10-25 09:01:50 UTC,view,1004767,2053013555631882655,electronics.smartphone,samsung,246.52,549825742,aac8b299-4355-4c25-bbfe-c0369f19a3ce
33834071,2019-10-25 09:12:12 UTC,cart,1004767,2053013555631882655,electronics.smartphone,samsung,246.52,549825742,aac8b299-4355-4c25-bbfe-c0369f19a3ce
33834776,2019-10-25 09:12:42 UTC,cart,1004767,2053013555631882655,electronics.smartphone,samsung,246.52,549825742,aac8b299-4355-4c25-bbfe-c0369f19a3ce
33835027,2019-10-25 09:12:52 UTC,cart,1004767,2053013555631882655,electronics.smartphone,samsung,246.52,549825742,aac8b299-4355-4c25-bbfe-c0369f19a3ce
33840806,2019-10-25 09:17:05 UTC,cart,1004767,2053013555631882655,electronics.smartphone,samsung,246.52,549825742,aac8b299-4355-4c25-bbfe-c0369f19a3ce
33881748,2019-10-25 09:49:33 UTC,view,1004433,2053013555631882655,electronics.smartphone,samsung,257.15,549825742,56fc550f-2ac9-4baf-a7eb-1d40320560a8
33882627,2019-10-25 09:50:12 UTC,view,1004434,2053013555631882655,electronics.smartphone,samsung,257.15,549825742,56fc550f-2ac9-4baf-a7eb-1d40320560a8
33884831,2019-10-25 09:51:50 UTC,view,1003548,2053013555631882655,electronics.smartphone,samsung,282.84,549825742,56fc550f-2ac9-4baf-a7eb-1d40320560a8
33886045,2019-10-25 09:52:44 UTC,view,1000978,2053013555631882655,electronics.smartphone,samsung,333.49,549825742,56fc550f-2ac9-4baf-a7eb-1d40320560a8
33886865,2019-10-25 09:53:22 UTC,view,1004990,2053013555631882655,electronics.smartphone,oppo,257.38,549825742,56fc550f-2ac9-4baf-a7eb-1d40320560a8
33940774,2019-10-25 10:36:14 UTC,cart,1004767,2053013555631882655,electronics.smartphone,samsung,246.52,549825742,NaN

* 두 결측치 모두 동일 날짜에 이벤트가 이루어지고 이전 이벤트와 시간이 유의미할만큼 차이가 없다고 판단해 이전 이벤트의 세션값과 동일하게 대치함

In [8]:
cpy.iloc[7157243] = '9c11ac2d-5c56-4994-87e4-ea077ab0ab45'

In [9]:
cpy.iloc[33940774] = '56fc550f-2ac9-4baf-a7eb-1d40320560a8'

In [10]:
dataset['user_session'] = cpy

In [11]:
dataset['user_session'].isnull().sum()

0

## brand 결측치

In [12]:
cpy = dataset[['product_id', 'brand']].copy()

In [21]:
cpy

          product_id      brand
0           44600062   shiseido
1            3900821       aqua
2           17200506        NaN
3            1307067     lenovo
4            1004237      apple
...              ...        ...
42448759     2300275      gopro
42448760    10800172    redmond
42448761     5701038    kenwood
42448762    21407424     tissot
42448763    13300120  swisshome

[42448764 rows x 2 columns]

In [14]:
cpy['product_id'].value_counts().index

Int64Index([ 1004856,  1004767,  1005115,  1004833,  1004249,  1004870,
             1005105,  4804056,  1002544,  5100816,
            ...
            27800173,  5100726, 24800145,  4500512, 15400191, 12704418,
             9002880, 11900275, 50300306, 19000980],
           dtype='int64', length=166794)

* product_id 개수 166794

In [15]:
cpy_product_id = cpy.sort_values('product_id').drop_duplicates(keep='first').copy()

* product_id 중 중복된 id 제거, id가 중복되더라도 브랜드명이 없다면 유지

In [16]:
dict_id = {}
for id, brand in zip(cpy_product_id['product_id'],cpy_product_id['brand']):
    if id in dict_id:
        continue
    else:
        dict_id[id] = brand

In [26]:
# 고유한 product_id와 brand명
len(dict_id)

166794

In [27]:
for i in range(len(cpy)):
    if type(cpy.loc[i,'brand']) != str:
        cpy.loc[i,'brand'] = dict_id[cpy.loc[i,'product_id']]

In [28]:
cpy.isnull().sum()

product_id          0
brand         6039215
dtype: int64

In [29]:
cpy['brand'].fillna('etc',inplace=True)

In [30]:
dataset['brand'] = cpy['brand']

## 카테고리 코드

In [31]:
dataset['category_code'].value_counts()

electronics.smartphone          11507231
electronics.clocks               1311033
computers.notebook               1137623
electronics.video.tv             1113750
electronics.audio.headphone      1100188
                                  ...
construction.tools.soldering         632
apparel.shorts                       632
apparel.jacket                       436
auto.accessories.anti_freeze         308
country_yard.furniture.bench         190
Name: category_code, Length: 126, dtype: int64

In [32]:
cpy = dataset[['category_id','category_code']].copy()

In [33]:
cpy.isnull().sum()

category_id             0
category_code    13515609
dtype: int64

In [34]:
cpy['category_id'].value_counts()

2053013555631882655    11507231
2053013553559896355     1888744
2053013558920217191     1130645
2053013554415534427     1105635
2053013554658804075     1100188
                         ...
2053013555690602915           4
2053013560388223675           3
2053013559381590653           2
2146306510567768475           1
2145727308156108933           1
Name: category_id, Length: 624, dtype: int64

In [35]:
cpy_category_id = cpy.sort_values('category_id').drop_duplicates()

In [36]:
dict_id = {}
for id, code in zip(cpy_category_id['category_id'],cpy_category_id['category_code']):
    if id in dict_id:
        continue
    else:
        dict_id[id] = code

In [37]:
for i in range(len(cpy)):
    if type(cpy.loc[i,'category_code']) != str:
        cpy.loc[i,'category_code'] = dict_id[cpy.loc[i,'category_id']]

In [38]:
cpy.isnull().sum()

category_id             0
category_code    13515609
dtype: int64

* id에 연결된 code가 모두 null

In [39]:
cpy.fillna('empty',inplace=True)

In [40]:
cpy

                  category_id                        category_code
0         2103807459595387724                                empty
1         2053013552326770905  appliances.environment.water_heater
2         2053013559792632471           furniture.living_room.sofa
3         2053013558920217191                   computers.notebook
4         2053013555631882655               electronics.smartphone
...                       ...                                  ...
42448759  2053013560530830019             electronics.camera.video
42448760  2053013554994348409                                empty
42448761  2053013553970938175              auto.accessories.player
42448762  2053013561579406073                   electronics.clocks
42448763  2053013557166998015                                empty

[42448764 rows x 2 columns]

### 카테고리 컬럼을 3개의 컬럼으로 분할

In [41]:
# 카테고리 코드를 '.'을 기준으로 스플릿
li_category = []
for i in range(len(cpy)):
    li_category.append(cpy['category_code'].iloc[i].split('.'))

In [42]:
# 1분류 2분류 3분류 각각 분할해서 리스트로 저장
cat_first = []
cat_second = []
cat_third = []
for i in li_category:
    cat_first.append(i[0])
    try:
        cat_second.append(i[1])
    except:
        cat_second.append(i[0])
        cat_third.append(i[0])
        continue
    try:
        cat_third.append(i[2])
    except:
        cat_third.append(i[1])

In [43]:
dataset['first_level'] = cat_first
dataset['second_level'] = cat_second
dataset['third_level'] = cat_third

---

# 기타 전처리

## user_session 간소화

In [46]:
cpy = dataset['user_session'].copy()

In [45]:
cpy[0][-12:-1]

'a032dfed738'

* 뒤의 11자리만 추출

In [47]:
cp1 = cpy.copy().apply(lambda x: x[-12:-1])

In [18]:
cpy.nunique()

9244421

In [19]:
cp1.nunique()

9244418

* 고유값의 개수가 일치하지않음

* 11자리 포함 뒤의 2자리 추가

In [20]:
# cpy[0][-15:-1]

'23-a032dfed738'

In [48]:
cp1 = cpy.copy().apply(lambda x: x[-15:-1])

In [22]:
# cp.nunique()

9244421

In [23]:
# cp1.nunique()

9244421

* 고유값 개수가 일치하므로 대체해도 될 듯

In [49]:
dataset['user_session'] = cp1

In [25]:
# dataset['user_session']

0           23-a032dfed738
1           57-6336556b0fc
2           95-cf8e6e792ca
3           f3-13c02c18c71
4           b4-8cec9ff8b80
                 ...
42448759    9c-18bb5b38519
42448760    f1-16fc1a060ed
42448761    f7-961bcb4719c
42448762    9d-046356a5a20
42448763    d6-fa77f14cefd
Name: user_session, Length: 42448764, dtype: object

## time을 date와 time으로 분리

In [50]:
dataset

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session,first_level,second_level,third_level
0,2019-10-01 00:00:00 UTC,view,44600062,2103807459595387724,NaN,shiseido,35.79,541312140,23-a032dfed738,empty,empty,empty
1,2019-10-01 00:00:00 UTC,view,3900821,2053013552326770905,appliances.environment.water_heater,aqua,33.20,554748717,57-6336556b0fc,appliances,environment,water_heater
2,2019-10-01 00:00:01 UTC,view,17200506,2053013559792632471,furniture.living_room.sofa,etc,543.10,519107250,95-cf8e6e792ca,furniture,living_room,sofa
3,2019-10-01 00:00:01 UTC,view,1307067,2053013558920217191,computers.notebook,lenovo,251.74,550050854,f3-13c02c18c71,computers,notebook,notebook
4,2019-10-01 00:00:04 UTC,view,1004237,2053013555631882655,electronics.smartphone,apple,1081.98,535871217,b4-8cec9ff8b80,electronics,smartphone,smartphone
...,...,...,...,...,...,...,...,...,...,...,...,...
42448759,2019-10-31 23:59:58 UTC,view,2300275,2053013560530830019,electronics.camera.video,gopro,527.40,537931532,9c-18bb5b38519,electronics,camera,video
42448760,2019-10-31 23:59:58 UTC,view,10800172,2053013554994348409,NaN,redmond,61.75,527322328,f1-16fc1a060ed,empty,empty,empty
42448761,2019-10-31 23:59:58 UTC,view,5701038,2053013553970938175,auto.accessories.player,kenwood,128.70,566280422,f7-961bcb4719c,auto,accessories,player
42448762,2019-10-31 23:59:59 UTC,view,21407424,2053013561579406073,electronics.clocks,tissot,689.85,513118352,9d-046356a5a20,electronics,clocks,clocks
42448763,2019-10-31 23:59:59 UTC,view,13300120,2053013557166998015,NaN,swisshome,155.73,525266378,d6-fa77f14cefd,empty,empty,empty

In [51]:
cpy_time = dataset['event_time'].copy()

In [41]:
# cop_time[0][11:19]

'00:00:00'

In [52]:
date = [cpy_time[i][:10] for i in range(len(cpy_time))]

In [53]:
time = [cpy_time[i][11:19] for i in range(len(cpy_time))]

In [54]:
dataset['date'] = date

In [55]:
dataset['time'] = time

---

## 불필요한 컬럼 삭제

In [56]:
# 기존 event_time과 category_code 컬럼 삭제
dataset.drop(['event_time','category_code'],axis=1,inplace=True)

In [57]:
dataset.isnull().sum()

event_type      0
product_id      0
category_id     0
brand           0
price           0
user_id         0
user_session    0
first_level     0
second_level    0
third_level     0
date            0
time            0
dtype: int64

In [59]:
dataset = dataset[['date','time','user_id',
'event_type','product_id','category_id',
'first_level','second_level','third_level',
'brand','price','user_session']]

In [60]:
dataset.head()

,date,time,user_id,event_type,product_id,category_id,first_level,second_level,third_level,brand,price,user_session
0,2019-10-01,00:00:00,541312140,view,44600062,2103807459595387724,empty,empty,empty,shiseido,35.79,23-a032dfed738
1,2019-10-01,00:00:00,554748717,view,3900821,2053013552326770905,appliances,environment,water_heater,aqua,33.20,57-6336556b0fc
2,2019-10-01,00:00:01,519107250,view,17200506,2053013559792632471,furniture,living_room,sofa,etc,543.10,95-cf8e6e792ca
3,2019-10-01,00:00:01,550050854,view,1307067,2053013558920217191,computers,notebook,notebook,lenovo,251.74,f3-13c02c18c71
4,2019-10-01,00:00:04,535871217,view,1004237,2053013555631882655,electronics,smartphone,smartphone,apple,1081.98,b4-8cec9ff8b80

---

# 경량화

In [61]:
import random
random.seed(17)

In [62]:
user_id_list = dataset['user_id'].value_counts().index.to_list()

In [63]:
user_id_list_ex = random.sample(user_id_list,k=1000000)

In [64]:
df_ex = dataset[dataset['user_id'].isin(user_id_list_ex)]

In [66]:
df_ex.reset_index(inplace=True,drop=True)

In [68]:
df_ex.to_parquet(data_url+'dataset.parquet')

In [31]:
# df_ex.to_csv(data_url + 'dataset_light.csv', index=False)